## Override the default styles_version to the Pattern Library version (version 2)
<%! main_css = "style-main-v1" %>
<%page expression_filter="h"/>
<%inherit file="../base.html" />

<%block name="title">Preview Language Setting</%block>

<%block name="bodyclass">is-signedin course uploads view-container</%block>

<%block name="content">
<h1>Preview Language Setting</h1>

<div tabindex="-1">
    <form class="form" action="/update_lang/" method="post">
        <fieldset class="form-group">
            <div class="field">
                <label class="field-label" for="input_language">Language Code</label>
                <input class="field-input input-text" type="text" id="input_language" name="preview_lang"
                       placeholder="e.g. en" aria-describedby="Input abbreviation for your language of choice" />
            </div>
        </fieldset>
        <div class="form-actions">
            <button class="btn-brand btn-base" type="submit" name="set_language" value="set_language">Set Preview Language</button>
            <button class="btn-brand btn-base" type="submit" name="reset" value="reset">Reset Language</button>
        </div>

        <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }"/>
    </form>

    <br/>
    % if not form_submit_message is UNDEFINED:
        <h3 class="alert-title" id="alert-title-success"> ${form_submit_message}</h3>
        <p class="alert-copy-with-title">
            Please refresh the page to see the changes applied.
        </p>
    % endif
</div>
</%block>
