<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import js_escaped_string
%>
% if display_name is not UNDEFINED and display_name is not None:
    <h3 class="hd hd-2">${display_name}</h3>
% endif

<video id="le-player_${id}"></video>


<%block name="jsextra">
<script>
(function(){
  var metadata = '${metadata}'
  //Decode metadata
  metadata = JSON.parse($('<textarea/>').html(metadata).text());

  console.log('METADATA',metadata)

  function calcOptions(metadata) {
		var isYoutube = false;
		var ytID = null;
		var YOUTUBE_ID_INDEX = 1;
    if(metadata.streams.length > 0) {
			isYoutube = true;
			ytID = metadata.streams.split(':')[YOUTUBE_ID_INDEX];
    }
		if(isYoutube) {
			return {
				entity: 'Youtube',
				sources: [{ id: ytID }],
			};
		} else {
    	return {
				entity: 'Html5',
				sources: metadata.sources.map(function(item) { return { url: item, title: 'title' } }),
			}
		}
  }

  var player = new lePlayer($('#le-player_${id}'), Object.assign({}, calcOptions(metadata), {
    autoplay: metadata.autoplay,
		preset: 'youtube',
		excludeControls: {
			common: [ ['subtitle'] ],
			fullscreen: [ ['subtitle'] ],
		},
    plugins: {
			miniplayer: false,
    }
  }));
console.log(player);
})();
</script>
</%block>

% if cdn_eval:
<script>
  //TODO: refactor this js into a separate file.
  function sendPerformanceBeacon(id, expgroup, value, event_name) {
    var data = {event: event_name, id: id, expgroup: expgroup, value: value, page: "html5vid"};
    $.ajax({method: "POST", url: "/performance", data: data});
  }
  var cdnStartTime;
  var salt = Math.floor((1 + Math.random()) * 0x100000).toString(36);
  var id = "${id | n, js_escaped_string}";
  function initializeCDNExperiment() {
    sendPerformanceBeacon(id + "_" + salt, ${cdn_exp_group}, "", "load");
    cdnStartTime = Date.now();
    $.each(['loadstart', 'abort', 'error', 'stalled', 'loadedmetadata',
                    'loadeddata', 'canplay', 'canplaythrough', 'seeked'],
                    function(index, eventName) {
      $("#video_" + id).bind("html5:" + eventName, null, function() {
        timeElapsed = Date.now() - cdnStartTime;
        sendPerformanceBeacon(id + "_" + salt, ${cdn_exp_group}, timeElapsed, eventName);
      });
    });
  }
  $("#video_" + id).bind("initialize", null, initializeCDNExperiment);
  if ($("#video_" + id).hasClass("is-initialized")) {
    initializeCDNExperiment();
  }
</script>
% endif;
